body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white);
    margin: 0;
    padding: 0;
}


.project-title{
    
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

.grid-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px;
    width: 70%; 
    margin: 0 auto;
    
}

.grid-projects > .project {
    background-color: var(--white);
    display: flex;
    flex-direction: column; /* Coloca la imagen encima del texto */
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0; /* Elimina el padding del contenedor */
    height: 300px; /* Altura fija del contenedor */
    position: relative; /* Para colocar elementos sobre la imagen */
}

.project-image {
    width: 100%;
    height: 100%; /* Ajusta la altura según necesites */
    background-image: url('/img/akxolotl.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

/* Media query para pantallas grandes */
@media (min-width: 1024px) {
    .project-image {
        object-position: 50% 62%;
        background-image: url('/img/akxolotl2.webp');

    }
}

/* Media query para pantallas medianas */
@media (max-width: 1024px) and (min-width: 768px) {
    .project-image {
        object-position: 50% 55%; 
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .project-image {
        object-position: 50% 50%; 
    }
    .grid-projects {
        grid-template-columns: 1fr; /* 1 columna por fila en pantallas pequeñas */
        width: 90%; /* Ajusta el ancho para que quede bien en pantallas más pequeñas */
    }
}

