* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white; /* Asegura que el header tenga fondo */
    z-index: 1000; /* Para que esté por encima del contenido */
    padding: 1rem;
}

body {
    padding-top: 80px; /* Ajusta este valor si es necesario */
}

.timeline-wrapper {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 18% 2rem;
}
.timeline-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.heading{
    font-size: 2.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.heading i{
    font-size: 4rem;
}
.content-box{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 0 2rem;
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(20px);
    border: 3px solid rgb(116, 108, 100);
    border-radius: 0.5rem;
    transition: 0.1s ease;
       
}
.content-box:hover{
    box-shadow: 0 0 25px rgb(140, 131, 122);
    border: 3px solid rgba(233, 218, 203)
}
.timeline-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 5px solid rgb(140, 131, 122);
}
.content-box h3{
    font-size: 1.3rem;
}
.date{
    font-size: 1.7rem;
    color: rgb(140, 131, 122);
    font-weight: 700;
}
.content-box::before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgb(140, 131, 122);
    border-radius: 50%;
    left: -50px;
    top: 40px
}