html{
    background-color: blanchedalmond;
    
}
header{
    background-color: white;
    width: auto;
    position: sticky;
    height: 150px;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.prifle-card{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 300px;
    margin-left: 10px;
    background-color: blue;
}
.about-me{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 300px;
    margin-left: 10px;
    background-color: blueviolet;
}
