html{
    background-color: blanchedalmond;
    
}
header{
    background-color: white;
    width: auto;
    position: sticky;
    height: 60px;
}
.flex-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.prifle-card{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 300px;
    margin-left: 10px;
    background-color: blue;
}
.about-me{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 300px;
    margin-left: 10px;
    background-color: blueviolet;
}
